<h1 id="race" data-race-id=<%= @race.id %> data-playerone-id=<%= @player1.id %> data-playertwo-id=<%= @player2.id %>>Javascript Racer</h1>

<table class="racer_table">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="/js/racer.js"></script>
  <!-- <p>We have a winner!!!!</p> -->
  <div id="banner"></div>
  <tr id="player1_strip">
    <% 20.times do |x| %>
    <td></td>
    <% end %>
  </tr>
  <tr id="player2_strip">
    <% 20.times do |x| %>
    <td></td>
    <% end %>
  </tr>

</table>