<img src="https://lh3.googleusercontent.com/VpDB5IAC6LAqjT2eOSR9XSMGFOaNJ_x2BCSTnOep4N7wNzvCwNxBGoPs49b6OU0ADyU=h900" width="500" height="300">
<p>Welcome to JS Racers!!</p>

<form action="/users/create" method="post">
  Start playing in less than 5 seconds!<br>
  <input type="text" name="player1" placeholder="Player 1 Name">
  <br>
  <input type="text" name="player2" placeholder="Player 2 Name">
  <input type="submit" value="Submit">
</form>
